.body-pages{
background-color: #508500;
text-align: center;
margin: auto;
}

.h1-pages{
text-align: center;
color: #FFFFFF;
margin: 30px auto;
}

.h2-pages{
color: #508500;
text-align: left;
margin: 30px auto;
}
.hr-pages{
display: block;
margin-bottom: 30px;
color: black;
box-shadow: 0px 3px 6px #00000029;}

.article-pages{
margin: auto;
width: 40%;
background-color: #FFFFFF;
padding: 10px 20px;
display: block;
text-align: left;
}
.article-pages p {
    font-size: 18px;;
}

.comments-container {
border-left: 1px solid #00000029;
padding-left: 16px;;
height: 90%;
margin-left: 16px;
}
.comments-container div {
    margin-bottom: 8px;
}
.comments-container div label,
.input-box label {
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
}
.comments-container div p,
.input-box p {
    font-size: 16px;
    margin: 0;
}

.input-box {
    display: flex;
    align-items: center;
}

.comments-container .hr-pages:last-child {
    display: none;

}

